on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      # Log into Azure
      - name: Login via Az module
        uses: azure/login@v1
        with:
          creds: ${{secrets.AZURE_CREDENTIALS}}
          enable-AzPSSession: true 

      - name: Azure CLI script
        uses: azure/CLI@v1
        with:
          inlineScript: |
            az staticwebapp disconnect -n testSite

      - name: Run Bicep deploy
        id: deploy
        uses: azure/arm-deploy@v1
        with:
          credentials: ${{ secrets.AZURE_CREDENTIALS }}
          resourceGroupName: LTinterviewproj
          template: ./infra/infra.bicep

      - name: Build And Deploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ steps.deploy.outputs.deployment_token }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"
          app_location: "./ui"
          app_artifact_location: "dist/ui"

      # - name: Publish
      #   run: dotnet publish minimalAPI/minimalAPI.csproj -c Release -o website

      # - name: Deploy to Azure Web App
      #   id: deploy-to-webapp
      #   uses: azure/webapps-deploy@v2
      #   with:
      #     app-name: wapp-pli47gh5nfjwu
      #     publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
      #     package: minimalAPI

      # Azure logout
      - name: logout
        run: |
          az logout